<div class="container">
    <h2>Add ToDo</h2>
    <mat-card>
        <form [formGroup]="form!" (ngSubmit)="form?.valid && addToDo()">
            <mat-form-field appearance="outline">
                <input formControlName="title" matInput placeholder="Title" />
            </mat-form-field>
            <mat-form-field appearance="outline">
                <input formControlName="description" matInput placeholder="Description" />
            </mat-form-field>
            <button type="submit" mat-raised-button color="primary">Add Todo</button>
        </form>
    </mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
</div>